<div class="container-fluid px-0 py-3">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-3 px-5">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <form style="width: 800px;" class="mx-auto mt-5 mb-4 p-5 border border-primary border-1 rounded-5">
                <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                <h1 class="text-center text-primary" style="font-size: 35px;"><b>Statements</b></h1>
                <div class="row "></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                               Statements
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">top 10 transaction</a></li>
                                <li><a class="dropdown-item" href="#">Current month transaction</a></li>
                                <li><a class="dropdown-item" href="#">3 month transaction</a></li>
                                <li><a class="dropdown-item" href="#"> between date range</a></li>
                                
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>

                </div>

            </form>
        </div>
        <div class="">
            <app-footer></app-footer>
        </div>
    </div>
</div>